{% extends "base.html"%}

{% block title %}
   all users
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-2">
        <form action="" method="POST" style="width:100%">
            <div class="d-flex align-items-center">
                <input type="text" name="search" id="search" class="form-control my-1 w-50">
                <button type="submit" class="btn btn-success " style="margin-left:10px;">Search</button>
            </div>
        </form>
    </div>
    <div class="my-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>username</th>
                        <th>Email</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user._id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.balance}}</td>

                        <td>
                            
                            <a href="/profile/{{user._id}}">
                                <button class="btn btn-warning">see profile</button>
                            </a>
                           
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}